_ar_60_90_meret_85_140_kerulet_xi_xxii_haz.csv
ingatlan_com_ar_60_90_meret_85_140_kerulet_xi_xxii_haz.csv
ingatlancrawler
.~lock._ar_60_90_meret_85_140_kerulet_xi_xxii_haz.csv#
.~lock.ingatlan_com_ar_60_90_meret_85_140_kerulet_xi_xxii_haz.csv#
